/* Home Page Banner */

.hLogo{
    width: 150px;
    margin-right: 20px;
}

.main-header{
    display: flex;
    border-bottom: #a333df 5px solid;
    padding-bottom: 10px;
}

.checkout{
    width: 150px;
    margin-left: 300px;
}

.checkout:hover{
    box-shadow: 10px 10px 10px 10px lightblue;
}

.notice{
    background-color: red;
    color: white;
}

#cover{
    max-width:100%;
}

.logo{
    width: 20%;
}


.title{
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

.banner{
    display: flex;
    background-color: #a333df;
}

h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    text-align: center;
}

h2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}

.question{
    margin-top: 150px;
}
/*Home page dog selection*/
.icon{
    width: 200px;
}

.icon:hover{
    transform: scale(1.25);
}

.choices{
    display: flex;
    justify-content: center;
}

.large, .small{
    display: flex;
    flex-direction: column;
    margin:20px;
}

#largeDogs, #smallDogs{
    padding: 10px;
    font-size: 18px;
    margin-top: 15px;
    background-color: darkslategray;
    color: white;
}

#largeDogs:hover, #smallDogs:hover{
    background-color: #a333df;
    color: white;
}

/*Individual dog box*/

#largedogs, #smalldogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dogPic{
    width: 300px;
}

.dogBox{
    padding: 20px;
    margin: 20px;
    position: relative;
    height: 500px;
    align-content: center;
}

#meetDog{
    padding: 10px;
    border:#a333df;
    background-color: #a333df;
    color: white;
    width: 90%;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    text-align: center;
}

#meetDog:hover{
    background-color: lightgray;
    color:#a333df;
    text-decoration: underline;
    font-weight: bold;
}

.dogName{
    text-align: center;
}

.dogPicLarge{
    width: 500px;
}

.bold{
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
}

.dogPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.words{
    align-items: center;
}

.individh1{
    text-align: left;
}

ul{
    list-style-type: none;
    font-size: 25px;
}

ul li{
    
    margin-bottom: 20px;
}

.application{
    text-decoration: none;
    font-size: 20px;
    background-color: #a333df;
    color: white;
    padding: 10px;
    margin-top: 100px;
}

.application:hover{
    background-color: lightgray;
    color:#a333df;
    text-decoration: underline;
    font-weight: bold;
}

footer{
    border-top:#a333df 5px solid;
    margin-top: 40px;
}

@media screen and (min-width: 500px) {

    body{
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    main{
        margin-top: 100px;
    }

    /* Home Page Banner */
    .banner{
        display: none;
    }

    .cover{
        position: relative;
    }

    .logo{
        display: block;
        position: absolute;
        left: 15%;
        top:30%;
        width: 20%;
    }    

    .title{
        display: block;
        color: white;
        font-size: 80px;
        position: absolute;
        top: 0%;
        left: 15%;
        text-align: left;
    }

    /*Home Dog Selection*/
    .icon{
        width: 300px;
    }

    .large, .small{
        margin: 85px;
    }

    #largeDogs, #smallDogs{
        background-color: white;
        border: none;
        color: black;
        font-size: 30px;
        font-weight: bold;
        padding-top: 40px;
    }

    #largeDogs:hover, #smallDogs:hover{
        color: blue;
        background-color: white;
        text-decoration: underline;
    }
}